:root{
  --primary-color: #30e3ca;
  --secondary-color: #2f89fc;
  --secondary-color-dark: #174a8d;
  --secondary-color-light: #acd0ff;
  --light-color: #dfdfe0;
  --dark-color: hsl(169, 12%, 28%);
  --background-color-light-dark: #1F1f23;
  --background-color-dark: #0E0E10;
  --background-color-medium-dark: #18181B;
}


body{
  color: var(--light-color);
}


