:root{
  --primary-color: #ff8000;
  --secondary-color: #6441a5;
  --secondary-color-dark: rgb(52, 34, 87);
  --secondary-color-light: #dccef7;
  --light-color: #fff;
  --dark-color: #262626;
  --background-color: #F7F7F8;
  --background-color-dark: #EFEFF1;
}



