.following{
    min-height:100vh;
}
.following__channels{
    padding-bottom: 2rem;
}

.following__creators{
    padding-bottom: 2rem;
}

.following__heading{
    padding-bottom:1rem;
}

.link-text a{
    color: var(--primary-color);
}