.video{
    width:20rem;
    display:flex;
    flex-direction: column;
    margin-right:2rem;
}

.small-video{
    width:15rem;
    display:flex;
    flex-direction: column;
    margin-right:4rem;  
}