.creator-details{
    display: flex;
    flex-wrap: wrap;
}

.creator-details__img{
    width:10rem;
    height:12rem;
    margin-right:2rem;
}

.creator-details__info{
    width:60%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}